.DS_Store
.elasticbeanstalk/
/build/
/bin/
/composer.phar
/files/
!files/.gitkeep
/phpunit.xml
/vendor/
/resources/coverage/
!resources/coverage/.gitkeep

# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej

# Exclude IDE/Editor's project directory
.idea
nbproject
*.swp
*~
\#*\#

# Windows links.
*.lnk

# Temporary files.
tmp*

# Hidden files.
.DS*
.project
